<div data-formset-form class="data-formset-form">

    {% with input=form.Number %}{% include 'form/form-group.html' %}{% endwith %}
    {% with input=form.ExamName %}{% include 'form/form-group.html' %}{% endwith %}
    {% with input=form.Mark %}{% include 'form/form-group.html' %}{% endwith %}
    {% with input=form.DocSer %}{% include 'form/form-group.html' %}{% endwith %}
    {% with input=form.DocNum %}{% include 'form/form-group.html' %}{% endwith %}
    {{ form.id }}
    <span class="hidden">{{ form.DELETE }}</span>
    <a data-formset-delete-button class="data-formset-delete-button"><span class="glyphicon glyphicon-remove"></span></a>
</div>