<div data-formset-form class="data-formset-form">
    {{ form.Number.label_tag }}
    {{ form.Number }}<br />
    {{ form.ExamName.label_tag }}
    {{ form.ExamName }}<br />
    {{ form.Mark.label_tag }}
    {{ form.Mark }}<br />
    {{ form.DocSer.label_tag }}
    {{ form.DocSer }}<br />
    {{ form.DocNum.label_tag }}
    {{ form.DocNum }}<br />
    {{ form.id }}<br />
    <span class="hidden">{{ form.DELETE }}</span>
    <a data-formset-delete-button class="data-formset-delete-button">Delete form</a>
</div>