{% extends 'base.html' %}
{% block content %}
    <ul class="nav nav-tabs">
        <li class="active"><a href="#personal" data-toggle="tab">Персональная информация</a></li>
        <li><a href="#registration" data-toggle="tab">Место жительства</a></li>
        <li><a href="#education" data-toggle="tab">Образование</a></li>
        <li><a href="#specialities" data-toggle="tab">Специальности</a></li>
    </ul>

    <form action="/application/save/" method="POST" id="contacts_form">
    <div class="tab-content">
        <div class="tab-pane active" id="personal">
            {{ forms.personal_form.as_p }}
        </div>
        <div class="tab-pane" id="registration">
            {{ forms.residence_form.as_p }}
        </div>
        <div class="tab-pane" id="education">
            <div id="exam_formset" class="entry" data-formset-prefix="{{ exam_formset.prefix }}">
                {{ exam_formset.management_form }}
                <div data-formset-body>
                    {% for form in exam_formset.forms %}
                        {% include 'form/exam_formset_item.html' %}
                    {% endfor %}
                </div>
                <script type="form-template" data-formset-empty-form>
                    {% with form=exam_formset.empty_form %}
                        {% include 'form/exam_formset_item.html' %}
                    {% endwith %}
                </script>
                <input type="button" value="Add another" data-formset-add>
            </div>
        </div>
        <div class="tab-pane" id="specialities">
            <p>Nothing to show</p>
        </div>
    </div>

    {% if id %}<input type="hidden" name="id" value="{{ id }}" />{% endif %}
    {% csrf_token %}
     <input type="submit" value="Отправить">
    </form>
{% endblock %}

{% block js %}
<script src="{{ STATIC_URL }}js/jquery.formset.js"></script>
<script src="{{ STATIC_URL }}packages/jquery-ui/js/jquery-ui-1.10.3.custom.min.js"></script>
<script src="{{ STATIC_URL }}js/delayed_fill.js"></script>
<script>
    $(function(){
        $("#exam_formset").formset();
    });
</script>
    <script>
        $(function() {

        });
    </script>

{% endblock %}

{% block title %}Basic Formset (Table layout){% endblock %}


{% block css %}
<link rel="stylesheet" href="{{ STATIC_URL }}packages/jquery-ui/themes/bootstrap/jquery-ui-1.10.0.custom.css">
<style type="text/css">
    span.hidden{
        display: none;
    }

    div.data-formset-form{
        padding: 20px;
    }

    a.data-formset-delete-button{
        color: red;
        cursor: pointer;
    }
</style>
{% endblock %}