{% extends 'base.html' %}
{% block content %}
    <ul class="nav nav-tabs">
        <li class="active"><a href="#personal" data-toggle="tab">Персональная информация</a></li>
        <li><a href="#registration" data-toggle="tab">Место жительства</a></li>
        <li><a href="#education" data-toggle="tab">Образование</a></li>
        <li><a href="#specialities" data-toggle="tab">Специальности</a></li>
    </ul>

    <form action="{{ url }}" method="POST" id="contacts_form">
    <div class="tab-content">
        <div class="tab-pane active" id="personal">
            <h2>Персональная информация</h2>
            {% with input=personal_form.LastName %}{% include 'form/form-group.html' %}{% endwith %}
            {% with input=personal_form.FirstName %}{% include 'form/form-group.html' %}{% endwith %}
            {% with input=personal_form.MiddleName %}{% include 'form/form-group.html' %}{% endwith %}
            {% with input=personal_form.BirthDay %}{% include 'form/form-group.html' %}{% endwith %}
            {% with input=personal_form.BirthPlace %}{% include 'form/form-group.html' %}{% endwith %}
            {% with input=personal_form.IDSex %}{% include 'form/form-group.html' %}{% endwith %}
            {% with input=personal_form.IDSocialStatus %}{% include 'form/form-group.html' %}{% endwith %}
            {% with input=personal_form.Nationality %}{% include 'form/form-group.html' %}{% endwith %}
            {% with input=personal_form.Citizenship %}{% include 'form/form-group.html' %}{% endwith %}

            <div id="citizenship-russia-block" {% if not personal_form.Citizenship.value or personal_form.Citizenship.value != 1 %} style="display:none;"{% endif %}>
                {% with input=personal_form.PassportSer %}{% include 'form/form-group.html' %}{% endwith %}
                {% with input=personal_form.PassportNumb %}{% include 'form/form-group.html' %}{% endwith %}
                {% with input=personal_form.CodUVD %}{% include 'form/form-group.html' %}{% endwith %}
                {% with input=personal_form.PassportDate %}{% include 'form/form-group.html' %}{% endwith %}
                {% with input=personal_form.PassportIssued %}{% include 'form/form-group.html' %}{% endwith %}
            </div>

            <div id="citizenship-not-russia-block" {% if not personal_form.Citizenship.value or personal_form.Citizenship.value == 1 %} style="display:none;"{% endif %}>
                {% with input=personal_form.ForeignPassportSer %}{% include 'form/form-group.html' %}{% endwith %}
                {% with input=personal_form.ForeignPassportNumb %}{% include 'form/form-group.html' %}{% endwith %}
                {% with input=personal_form.ForeignPassportDate %}{% include 'form/form-group.html' %}{% endwith %}
                {% with input=personal_form.ForeignPassportIssued %}{% include 'form/form-group.html' %}{% endwith %}
            </div>

        </div>
        <div class="tab-pane" id="registration">
            <h2>Место жительства</h2>
            <h3>Прописка</h3>
            {% with input=residence_form.RegCountry %}{% include 'form/form-group.html' %}{% endwith %}
            {% with input=residence_form.RegRegion %}{% include 'form/form-group.html' %}{% endwith %}
            {% with input=residence_form.RegDistrict %}{% include 'form/form-group.html' %}{% endwith %}
            {% with input=residence_form.RegCity %}{% include 'form/form-group.html' %}{% endwith %}
            {% with input=residence_form.RegStreet %}{% include 'form/form-group.html' %}{% endwith %}
            {% with input=residence_form.RegHouse %}{% include 'form/form-group.html' %}{% endwith %}
            {% with input=residence_form.RegApartment %}{% include 'form/form-group.html' %}{% endwith %}
            {% with input=residence_form.RegZipcode %}{% include 'form/form-group.html' %}{% endwith %}

            <div class="form-group">
                <label class="checkbox-form-label" for="{{ residence_form.ResEqualsReg.auto_id }}">
                    {{ residence_form.ResEqualsReg }}{{ residence_form.ResEqualsReg.label }}</label>
            </div>

            <div id="residence-block" {% if residence_form.ResEqualsReg.value %} style="display:none;"{% endif %}>
                <h3>Адрес фактического проживания</h3>
                <p>Только для лиц, проживающих в городе Ульяновске</p>
                {% with input=residence_form.ResStreet %}{% include 'form/form-group.html' %}{% endwith %}
                {% with input=residence_form.ResHouse %}{% include 'form/form-group.html' %}{% endwith %}
                {% with input=residence_form.ResApartment %}{% include 'form/form-group.html' %}{% endwith %}
                {% with input=residence_form.ResZipcode %}{% include 'form/form-group.html' %}{% endwith %}
            </div>
        </div>
        <div class="tab-pane" id="education">
            <h2>Образование</h2>
            <h3>Результаты ЕГЭ</h3>
            {% with formset=exam_formset formset_id='exam_formset' formset_template='form/exam_formset_item.html' %}
                {% include 'form/formset-container.html' %}
            {% endwith %}
            <h3>Школьный аттестат</h3>
            {% with input=certificate_form.Fives %}{% include 'form/form-group.html' %}{% endwith %}
            {% with input=certificate_form.Fours %}{% include 'form/form-group.html' %}{% endwith %}
            {% with input=certificate_form.Threes %}{% include 'form/form-group.html' %}{% endwith %}
            <p>Средний балл: <span id="certificate_mean">0</span></p>
        </div>
        <div class="tab-pane" id="specialities">
            <h2>Специальности</h2>
            {% with formset=edu_formset formset_id='edu_formset' formset_template='form/spec_formset_item.html' %}
                {% include 'form/formset-container.html' %}
            {% endwith %}
        </div>
    </div>

    {% if id %}<input type="hidden" name="id" value="{{ id }}" />{% endif %}
    <input type="hidden" id="fresh_page" name="fresh_page" value="1" />
    {% csrf_token %}
     <input type="submit" value="Отправить">
    </form>
{% endblock %}

{% block js %}

    <script src="{{ STATIC_URL }}js/jstorage.min.js"></script>
    <script src="{{ STATIC_URL }}js/jquery.formset.js"></script>
    <script src="{{ STATIC_URL }}packages/jquery-ui/js/jquery-ui-1.10.3.custom.min.js"></script>
    <script src="{{ STATIC_URL }}js/delayed_fill.js"></script>
    <script src="{{ STATIC_URL }}js/tFormer.min.js"></script>
    <script>
        $(function(){
            $("#exam_formset").formset();
            $("#edu_formset").formset();

            $('#id_ResEqualsReg').on('click', function(){
                var display = this.checked;
                $('#residence-block').css('display',((display)?'none':'block'));
            });

            $('#id_Citizenship').on('change', function(){
                var selected = !!this.value;
                var russia = this.value == 1;
                $('#citizenship-russia-block').css('display',((selected && russia)?'block':'none'));
                $('#citizenship-not-russia-block').css('display',((selected && !russia)?'block':'none'));
            });

            $('#id_Fives, #id_Fours, #id_Threes').on('change keyup', function(){
                calculate_certificate_mean();
            });

            function calculate_certificate_mean(){
                var fives = parseInt($('#id_Fives').val());
                var fours = parseInt($('#id_Fours').val());
                var threes = parseInt($('#id_Threes').val());
                var mean = 0;

                if (fives+fours+threes != 0)
                    mean = (fives*5+fours*4+threes*3)/(fives+fours+threes);
                else mean = 0;
                $('#certificate_mean').html(mean.toFixed(1));
            }

            calculate_certificate_mean();
        });
    </script>

    <script>var my_form_id = new tFormer('contacts_form');
    </script>
{% endblock %}

{% block title %}Basic Formset (Table layout){% endblock %}


{% block css %}
<link rel="stylesheet" href="{{ STATIC_URL }}packages/jquery-ui/themes/bootstrap/jquery-ui-1.10.0.custom.css">
<style type="text/css">
    span.hidden{
        display: none;
    }

    div.data-formset-form{
        padding: 20px;
    }

    a.formset-button{
        font-size: 28pt;
        cursor: pointer;
        position: absolute;
        text-align: center;
    }

    a.data-formset-delete-button{
        color: #D16165;
        top: 20px;
        right: 20px;
    }

    a.data-formset-up-button{
        color: green;
        top: 80px;
        right: 20px;
    }

    a.data-formset-down-button{
        color: green;
        top: 140px;
        right: 17px;
    }

    .data-formset-form.display.first .data-formset-down-button{
        top: 80px;
        display: block;
    }
    .data-formset-form.display.first .data-formset-up-button{
        display: none;
    }

    .data-formset-form.display.last .data-formset-up-button{
        top: 80px;
        display: block;
    }
    .data-formset-form.display.last .data-formset-down-button{
        display: none;
    }


    label.common-form-label:after{
        content: ':';
    }

    label.common-form-label{
        font-weight: 400;
    }

    input[type=text].error{
        border-color: red;
    }

    .form-control{
        max-width:400px;
    }

    .form-group{
        clear: both;
        margin-bottom: 10px;
    }

    .data-formset-form{
        border: 1px solid rgb(128, 128, 128);
        margin-bottom: 15px;
        padding: 15px;
        position: relative;
    }
</style>
{% endblock %}